<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6> Why vaidya?</h6>
          <p class="text-justify">vaidya <i>IS A SIMPLE </i> initiative to help you choose the best medical facility. We focus on providing all the information in the most user-friendly manner to help you in your times of crises.</p>
          <a href="/covidTracker">Visit our Covid-19 Update feature</a>
        </div>

        <div class="col-xs-6 col-md-6">
          <h6>Sign up as a service provider</h6>
          <ul class="footer-links">
            
            <li><a href="/drform">Register as a Doctor</a></li>
            <li><a href="/hospForm">Register as a Hospital</a></li>
            
            <h6>Contact Us</h6>
            <li><a href=""><img src="/static/icons/github-logo.png"></a> <a href=""><img src="/static/icons/facebook.png"></a><a><img src="/static/icons/linkedin.png"></a><a><img src="/static/icons/instagram.png"></a></li>
          </ul>
        </div>

        
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        
          <p class="copyright-text">A product by Team camelCase.
          </p>
      </div>
    </div>
</footer>









</body>
<script src="/static/homepage.js">
</script>
<script src="/static/preloader.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</html>