<footer class="footerContainer">

    <h2 class="footeritem"><span class="fas fa-copyright"></span>Vedya</h2>

    <h2 class="footeritem" class="Socials">Contact Us @:
        <a href="https://www.facebook.com/"><span class="fab fa-facebook-f"></span></a>
        <a href="#"><span class="fab fa-instagram"></span></a>
        <a href="#"><span class="fab fa-linkedin"></span></a>

    </h2>

</footer>
</body>

</html>