<%- include('partials/header') %>
    <div class="topnav" id="myTopnav">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/hospital">Hospitals</a>
        <a class="nav-item" href="/dr">Doctors</a>
        <a class="nav-item active" href="/ambulance">Ambulance</a>
        <a class="nav-item" href="/covidTracker">Covid Updates</a>
        <a class="nav-item" class="logo" href="/drform"><img src="/static/icons/doctor.png" /></a>
        <a class="nav-item" class="logo" href="/hospform"><img src="/static/icons/hospital.png" /></a>
        <a href="/logout" class="button-logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size:150%"></i>
        </a>

    </div>

    <div onclick="topFunction()" id="myBtn" class="go-top">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_LDS3JQ.json" background="transparent" speed="1" style="width: 50px; height: 50px" loop autoplay></lottie-player>
    </div>
    <lottie-player class="lottie-1" src="https://assets5.lottiefiles.com/packages/lf20_eqCI4X.json" background="transparent" mode="bounce" speed="0.6" loop autoplay></lottie-player>
    <div class="ambContent">
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Maa Service</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947373213</li>

                    <li><em class="far fa-compass"></em>&nbsp; Rupnagar,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Anjila Ambulance</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947373202</li>

                    <li><em class="far fa-compass"></em>&nbsp; Dispur,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>City-Ambulance</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947373165</li>

                    <li><em class="far fa-compass"></em>&nbsp; Gmch-Road,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Traveller-Ambulance</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947241911</li>

                    <li><em class="far fa-compass"></em>&nbsp; Dispur,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Borah Ambulance</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947373146</li>

                    <li><em class="far fa-compass"></em>&nbsp; Hatigaon,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Gopal-Ambulance</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947373233</li>

                    <li><em class="far fa-compass"></em>&nbsp; Gmch-Road,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Tinku-Ambulance </h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947342037</li>

                    <li><em class="far fa-compass"></em>&nbsp;Kahilipara,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Icu-Ambulance</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947373138</li>

                    <li><em class="far fa-compass"></em>&nbsp; G.S.Road,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Ne-Ambulance</h3>
                <ul>
                    <li><em class="fas fa-phone-square-alt"></em>&nbsp;07947373519</li>

                    <li><em class="far fa-compass"></em>&nbsp;Panjabari,&nbsp;Guwahati</li>
                </ul>


            </div>
        </div>


    </div>



    <script src="/static/homepage.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>
    <%- include('partials/footer') %>