<%- include('partials/header') %>

    <div class="ambContent">
        <div class="ambContainer">
            <div class="ambIcon">
                <lottie-player class="amlot" src="https://assets5.lottiefiles.com/packages/lf20_eppz7mfa.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="info">
                <h3>Name</h3>
                <ul>
                    <li><span class="fas fa-phone-square-alt"></span> +91 9811045805</li>

                    <li><span class="far fa-compass"></span> Address-Here</li>
                </ul>


            </div>
        </div>


    </div>


    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <%- include('partials/footer') %>