<%- include ("partials/header") %>
    <div class="topnav" id="myTopnav">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/hospital">Hospitals</a>
        <a class="nav-item" href="/dr">Doctors</a>
        <a class="nav-item" href="/ambulance">Ambulance</a>
        <a class="nav-item" href="/covidTracker">Covid Updates</a>
        <a class="nav-item active" class="logo" href="/drform"><img src="/static/icons/doctor.png" /></a>
        <a class="nav-item" class="logo" href="/hospform"><img src="/static/icons/hospital.png" /></a>
        <a href="/logout" class="button-logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size:150%"></i>
        </a>

    </div>


    </div>

    <section id="storeOwner">
        <h1 class="heading ">Doctor Details</h1>
        <br><br>
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_iXKIMU.json" background="transparent" speed="1" class="lottie-2" loop autoplay></lottie-player>
        <div class="container ">
            <form action="/drForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label for="drName" class="form-label">Doctor Name</label>
                            <input type="text" name="drName" class="form-control" id="drName" autocomplete="false" required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="drdeg" class="form-label">Highest Education Qualification</label>
                            <input type="text" name="drdeg" class="form-control" id="drdeg" autocomplete="false" required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="drAd" class="form-label">Work Address</label>
                            <input type="text" name="drAd" class="form-control" id="drAd" autocomplete="false" required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" autocomplete="false" placeholder="abc@email.com" required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="phone" name="phone" class="form-control" id="phone" autocomplete="false" required>
                        </div>

                        <div class="mb-3 col-lg-6">
                            <label for="spec" class="form-label">Specialization</label>
                            <input type="text" name="spec" class="form-control" id="spec" placeholder="field of expertise" required>
                        </div>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label for="exp" class="form-label">Experience</label>
                        <input type="text" name="exp" class="form-control" id="exp" autocomplete="false" placeholder="in years/months " required>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label for="desc" class="form-label">Description</label>
                        <input type="text" name="desc" class="form-control" id="desc" autocomplete="false" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-lg-12">
                            <label for="itemImage" class="form-label">Add Image</label>
                            <input type="file" name="itemImage" class="form-control filepond" id="itemImage">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div> <br></div>
            <div><br></div>
            <div><br></div>
        </div>

    </section>

    <%- include ("partials/footer") %>


        </body>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="/static/preloader.js"></script>
        <script src="/static/homepage.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        </html>