<%- include ("partials/header") %>

    </div>


    <section id="storeOwner">
        <div class="container row">
            <h1 class="heading col-lg-3">Doctor Details</h1>
            <div class="container col-lg-9">
                <form action="/drForm" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="row">
                            <div class="mb-3 col-lg-6">
                                <label for="drpName" class="form-label">Doctor Name</label>
                                <input type="text" name="drName" class="form-control" id="drName" autocomplete="false" required>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="drdeg" class="form-label">Highest Education Qualification</label>
                                <input type="text" name="drdeg" class="form-control" id="drdeg" autocomplete="false" required>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="drAd" class="form-label">Work Address</label>
                                <input type="text" name="drAd" class="form-control" id="drAd" autocomplete="false" required>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="email" autocomplete="false" placeholder="abc@email.com" required>
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="phone" class="form-label">phone</label>
                                <input type="phone" name="phone" class="form-control" id="phone" autocomplete="false" required>
                            </div>

                            <div class="mb-3 col-lg-6">
                                <label for="spec" class="form-label">Specialization</label>
                                <input type="text" name="spec" class="form-control" id="spec" placeholder="field of expertise" required>
                            </div>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="exp" class="form-label">Experience</label>
                            <input type="text" name="exp" class="form-control" id="exp" autocomplete="false" placeholder="in years/months " required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="desc" class="form-label">Description</label>
                            <input type="text" name="desc" class="form-control" id="desc" autocomplete="false" required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-lg-12">
                                <label for="itemImage" class="form-label">Add Image</label>
                                <input type="file" name="itemImage" class="form-control filepond" id="itemImage">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </section>

    </body>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    </html>