<%- include ("partials/header") %>
    <div class="topnav" id="myTopnav">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/hospital">Hospitals</a>
        <a class="nav-item" href="/dr">Doctors</a>
        <a class="nav-item" href="/ambulance">Ambulance</a>
        <a class="nav-item" class="logo" href="/covidTracker">Covid Updates</a>
        <a class="nav-item" class="logo" href="/drform"><img src="/static/icons/doctor.png" /></a>
        <a class="nav-item active" class="logo" href="/hospform"><img src="/static/icons/hospital.png" /></a>
        <a class="nav-item" href="/profile">Profile</a>
        <a href="/logout" class="button-logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size:150%"></i>
        </a>

    </div>
    </div>

    <!-- Hospital form -->

    <section id="storeOwner">
        <h1 class="heading ">Hospital Details</h1>
        <br><br>
        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_iXKIMU.json" background="transparent" speed="1" class="lottie-2" loop autoplay></lottie-player>
        <div class="container ">
            <form action="/hospForm" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label for="hospName" class="form-label">Hospital Name</label>
                            <input type="text" name="hospName" class="form-control" id="hospName" autocomplete="false" required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="hospAd" class="form-label">Hospital Address</label>
                            <input type="text" name="hospAd" class="form-control" id="hospAd" autocomplete="false" required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="workForce" class="form-label">WorkForce</label>
                            <input type="text" name="workForce" class="form-control" id="workForce" autocomplete="false" placeholder="Total number of employees" required>
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label for="bed" class="form-label">Number of beds:</label>
                            <input type="text" name="bed" class="form-control" id="bed" autocomplete="false" placeholder="Total number of Beds" required>
                        </div>

                        <div class="mb-3 col-lg-6">
                            <!-- TO DO: countdown function to be added-->
                            <label for="spec" class="form-label">Specialization</label>
                            <input type="text" name="spec" class="form-control" id="spec" placeholder="field of expertise" required>
                        </div>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label for="desc" class="form-label">Facilities</label>
                        <input type="text" name="desc" class="form-control" id="desc" autocomplete="false" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-lg-12">
                            <!-- TO DO: make so that any number of images can be added and give each of them a number or Id-->
                            <label for="itemImage" class="form-label">Add Image</label>
                            <input type="file" name="itemImage" class="form-control filepond" id="itemImage">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
        </div>
    </section>
    <div>
        <br><br>
    </div>



    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/static/preloader.js"></script>
    <script src="/static/homepage.js"></script>

    <%- include ("partials/footer") %>