<%- include ("partials/header") %>
    <div class="topnav" id="myTopnav">
        <a class="nav-item active" href="/">Home</a>
        <a class="nav-item" href="/hospital">Hospitals</a>
        <a class="nav-item" href="/dr">Doctors</a>
        <a class="nav-item" href="/ambulance">Ambulance</a>
        <a class="nav-item" href="/covidTracker">Covid Updates</a>
        <a class="nav-item" class="logo" href="/drform"><img src="/static/icons/doctor.png" /></a>
        <a class="nav-item" class="logo" href="/hospform"><img src="/static/icons/hospital.png" /></a>
        <a class="nav-item" href="/profile">Profile</a>
        <a href="/logout" class="button-logout">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars" style="font-size:150%"></i>
        </a>

    </div>

    <div onclick="topFunction()" id="myBtn" class="go-top">
        <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_LDS3JQ.json" background="transparent" speed="1" style="width: 50px; height: 50px" loop autoplay></lottie-player>
    </div>

    <div class="glassmorphism-bg1">
        <div class='hello'>
            <div class='lottie-hello'>
                <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_42B8LS.json" background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class='welcome-note'>
                <p class='welcome-line1'>Welcome to vaidya</p>
                <p class='welcome-line2'>The one-stop help center for your medical needs </p>
                <p style="color: white;">Here at Vaidya, we don’t compromise. Vaidya is for you!</p>
                <p class="lead">
                    <!-- <a class="btn btn-outline-primary my-2 my-sm-0 signupBtn" style="color: white; border-radius:1px solid white ; background-color: blue; transform: scale(1.2);" href="#" role="button">Sign Up</a> -->
                </p>
            </div>
        </div>
    </div>

    <!-- EasyAccess -->
    <div class='grid-container'>
        <div class='grid-item box1'>
            <div>
                <a href="/dr"><img src='/static/icons/doctor2.png' class='icon'></a>
            </div>
        </div>
        <div class='grid-item box2'>
            <div>
                <a href="/hospital"><img src='/static/icons/hospital2.png' class='icon'></a>
            </div>
        </div>
        <div class='grid-item box3'>
            <div>
                <a href="/covidTracker"><img src='/static/icons/coronavirus.png' class='icon'></a>
            </div>
        </div>
        <div class='grid-item box4'>
            <div>
                <a href="/ambulance"><img src='/static/icons/ambulance.png' class='icon'></a>
            </div>
        </div>
    </div>
    <!-- Carousel -->
    <div class="slider">
        <div class="slides">
            <!-- radio-buttons -->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <!-- images -->
            <div class="slide first">
                <div><img src="/static/icons/carousel-1.jpg"> </div>
            </div>

            <div class="slide">
                <div><img src="/static/icons/carousel-5.jpg"></div>
            </div>

            <div class="slide">
                <div><img src="/static/icons/carousel-2.jpg"></div>
            </div>
            <!-- auto-navigation -->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>
            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
    </div>
    <br>
    <!-- About-Us -->
    <br>
    <hr>
    <br>

    <h1 class='aboutus-header'>About Us</h1>
    <div class="aboutus glassmorphism-bg2">
        <div class='aboutus-body '>
            <p class='aboutus-1'> Vaidya is a one-stop help center for all your medical needs. If you have no knowledge of the available medical facilities near you or you wish to know the best medical outlet for a particular sickness, you're in the right place!
                <br><br> Let us help you choose the best medical aid around you.
            </p>
            <p class='aboutus-2'>Thank you for choosing us. Here at Vaidya, we don't compromise. </p>
            <p class='aboutus-3'>Vaidya is for you.</p>
        </div>
        <div class="lottie-aboutus">
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_jcsfwbvi.json" background="transparent" speed="1" loop autoplay></lottie-player>
        </div>
    </div>

    <!-- TEAM -->
    <h1 class='team-name'>Team</h1>
    <div class="team-body">

        <div class="team-card">
            <div class='image-size'>
                <img src="/static/icons/abhishek.jpeg" class="card-image">
            </div>
            <div class="team-details">
                <div class='creator-name'>Abhishek Bharadwaz</div>
                <div class='speciality'>Front-End Dev</div>
                <!-- <a href="https://www.linkedin.com/in/abhishek-bharadwaz-458993192/" class="button" target="_blank"><img src="/static/icons/linkedin.png"></a>
                <a href="https://www.facebook.com/media/set/?set=a.382259491929383&type=3" class="button" target="_blank"><img src="/static/icons/facebook.png"></a> -->
            </div>
        </div>

        <div class="team-card">
            <div class='image-size'>
                <img src="/static/icons/Shivam.jpg" class="card-image">
            </div>
            <div class="team-details">
                <div class='creator-name'>Shivam Kumar</div>
                <div class='speciality'>Full Stack Dev</div>
                <!-- <a href="https://www.linkedin.com/in/shivam-kumar-892b491b3/" class="button" target="_blank"><img src="/static/icons/linkedin.png"></a>
                <a href="https://www.facebook.com/shiva.om.92754" class="button" target="_blank"><img src="/static/icons/facebook.png"></a> -->
            </div>
        </div>

        <div class="team-card">
            <div class='image-size'>
                <img src="/static/icons/sourabh.jpeg" class="card-image">
            </div>
            <div class="team-details">
                <div class='creator-name'>Sourabh Shah</div>
                <div class='speciality'>Full Stack Dev</div>
                <!-- <a href="https://www.linkedin.com/in/sourabh-shah-1b6225192/" class="button" target="_blank"><img src="/static/icons/linkedin.png"></a>
                <a href="https://www.facebook.com/sourab579" class="button" target="_blank"><img src="/static/icons/facebook.png"></a> -->
            </div>
        </div>

        <div class="team-card">
            <div class='image-size'>
                <img src="/static/icons/teresa2.JPG" class="card-image">
            </div>
            <div class="team-details">
                <div class='creator-name'>Teresa Louis</div>
                <div class='speciality'>Front- End Dev</div>
                <!-- <a href="https://www.linkedin.com/in/teresa-louis-80974b1a0/" class="button" target="_blank"><img src="/static/icons/linkedin.png"></a>
                <a href="https://www.facebook.com/teresa.louis1/" class="button" target="_blank"><img src="/static/icons/facebook.png"></a> -->
            </div>
        </div>
    </div>
    <div>
        <br>
        <br>
    </div>
    <%- include ("partials/footer") %>

        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="/static/homepage.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/static/preloader.js"></script>
        <script>
            $(".nav-item").on("click", function(e) {
                $(".nav-item").removeClass("active");
                $(this).addClass("active");
            });
        </script>
        <script>
            mybutton = document.getElementById("myBtn");

            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
            }
        </script>