* {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* background: #bbb; */
}

body,
html {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    margin: 0%;
    padding: 0%;
    width: 100%;
    overflow-x: hidden;
    background-color: #05e8ba;
    /* z-index:10000; */
    background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
    cursor: pointer;
}


/* BACKGROUND-DESIGN STARTS */

.bgcircle {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px ); */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    z-index: 0;
    /* background: rgba( 255, 255, 255, 0.50 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px ); */
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4.0px);
    -webkit-backdrop-filter: blur( 4.0px);
}

.c1 {
    /* height:20%;
    width:10%; */
    height: 100px;
    width: 100px;
    position: fixed;
    margin-left: 1vw;
    margin-top: 60vh;
    z-index: 0;
}

.c2 {
    /* height:20%;
    width:10%; */
    height: 100px;
    width: 100px;
    position: fixed;
    margin-left: 28vw;
    margin-top: 18vh;
    z-index: 0;
}

.c3 {
    height: 160px;
    width: 160px;
    position: fixed;
    margin-left: 39vw;
    margin-top: 40vh;
    z-index: 0;
}

.c4 {
    height: 80px;
    width: 80px;
    position: fixed;
    margin-left: 45vw;
    margin-top: 59vh;
    z-index: 0;
}

.c5 {
    height: 300px;
    width: 300px;
    position: fixed;
    margin-left: 90vw;
    margin-top: 50vh;
    z-index: -0.25;
}


/* BACKGROUND-DESIGN ENDS */

.glassmorphism-bg1 {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 3%;
    background: rgba( 255, 255, 255, 0.20);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4.5px);
    -webkit-backdrop-filter: blur( 4.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
}


/* TOP-NAVBAR STARTS */

.header {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 5%;
    padding-bottom: 0.5%;
    padding-top: 1%;
    top: 2%;
    /* width:100%; */
    overflow: hidden;
    z-index: +10;
}

.header-name a {
    /* background-color: #fff; */
    /* font-weight: 300; */
    float: left;
    font-size: 90px;
    /* color: #fff; */
    font-family: verdana;
    font-weight: 300;
    color: #f1ebe5;
    z-index: +10;
    text-decoration: none;
    ;
}

.header-name a:hover {
    /* cursor:pointer; */
    color: #f1ebe5;
}

.header-lottie {
    width: 40vh;
    height: auto;
}

hr {
    border-top: 1px solid #e4e4e4;
    border-bottom: none;
    width: 80%;
    margin: 1rem 1rem;
    position: relative;
    text-align:center;
}

.topnav {
    background-color: none;
    overflow: hidden;
    padding-bottom: 1%;
    /* position:fixed; */
    /* top:0%;*/
    width: 100%;
    z-index: 10000;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
    transition: all 0.5s ease-in-out;
}

.topnav a {
    float: left;
    /* display: inline-block; */
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    transition: all 0.3s ease;
    position: relative;
}

.topnav a:hover {
    font-weight: 300;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.topnav a.logo:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.topnav a.active {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: 1px solid white;
    font-weight: 400;
    border-radius: 10px;
}

.topnav .logo img {
    max-width: 70%;
    padding: 0%;
    margin: 0%;
}

.topnav .button-logout {
    /* border: 2px solid #0b4f6c ; */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    margin-right: 10%;
}


/* TOP-NAVBAR-ENDS */


/* WELCOME STARTS */

.hello {
    display: flex;
    float: none;
}

.lottie-hello {
    position: relative;
    height: 50vh;
    width: 50vw;
}

.welcome-line1 {
    margin-top: 5%;
    font-size: 60px;
    font-weight: 100;
    color: white;
    margin-right: 50%;
    padding-bottom: 3%;
    text-align: center;
}

.welcome-line2 {
    font-size: 17px;
    font-weight: 100;
    color: white;
    /* margin-right:30%; */
    padding-top: 3%
}


/* WELCOME ENDS */


/* CAROUSEL STARTS */

.slider {
    width: 70%;
    /* height:500px; */
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    margin-top: 2%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4.5px);
    -webkit-backdrop-filter: blur( 4.5px);
    border: 2px solid rgba( 255, 255, 255, 0.3);
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 50%;
    margin-left: 35%;
    display: flex;
    /* justify-content:space-evenly; */
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn {
    margin-right: 10%;
}

.manual-btn:hover {
    background: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 50%;
    margin-left: 35%;
    display: flex;
    /* justify-content:center; */
}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div {
    margin-right: 10%;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}


/* CAROUSEL ENDS */


/* DIRECT-ACCESS-TABS STARTS*/

.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
    position: relative;
}

.grid-item {
    background: rgba( 255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 5.0px);
    -webkit-backdrop-filter: blur( 5.0px);
    /* background-color:#ea717b ; */
    color: white;
    height: 7%;
    width: 9%;
    margin: 1%;
    border-radius: 10px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

div .grid-item img {
    height: 50px;
    padding-top: 9%;
    transition: all 1s ease;
}

div .grid-item:hover {
    background: rgba( 255, 255, 255, 0.40);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 7.0px);
    -webkit-backdrop-filter: blur( 7.0px);
}

div .grid-item :hover img {
    transform: scale(1.2);
}


/* DIRECT-ACCESS-TABS ENDS*/


/* ABOUT-US STARTS*/

.glassmorphism-bg2 {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 3%;
    background: rgba( 255, 255, 255, 0.20);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4.5px);
    -webkit-backdrop-filter: blur( 4.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.aboutus {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.aboutus-header {
    position: relative;
    margin-top: 3%;
    font-family: 'Lato';
    color: WHITE;
    margin-left: 5%;
    margin-bottom: 4%;
    /* z-index: +1000000; */
}

.aboutus-body {
    font-family: 'Lato';
    padding: 5% 5%;
    color: #fff
}

.aboutus-1 {
    font-size: 120%;
    padding-bottom: 2%;
}

.aboutus-2 {
    font-size: 110%;
    padding-bottom: 2%;
}

.aboutus-3 {
    font-size: 120%;
    padding-bottom: 3%;
    color: #fff;
    text-shadow: 2px 2px 3px #e4e4e4;
    font-weight: 700;
}

.lottie-aboutus {
    width: 150%;
}


/* ABOUT-US ENDS*/


/* TEAM STARTS */

.team-name {
    /* color:#0b4f6c; */
    font-family: 'Lato';
    color: #fff;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    position: relative;
}

.team-body {
    font-family: 'Lato';
    padding: 0% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    position: relative;
}

.team-card {
    position: relative;
    transition: all .5s ease-in;
    width: 35vh;
    height: auto;
    margin: auto;
    padding-bottom: 2%;
    border-radius: 30px;
    background: rgba( 255, 255, 255, 0.20);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4.5px);
    -webkit-backdrop-filter: blur( 4.5px);
    border: 2px solid rgba( 255, 255, 255, 0.18);
}

.team-card img {
    border-radius: 50%;
    margin: auto;
}

.image-size {
    width: 40%;
    margin: auto;
    margin-top: 8%;
}

.card-image {
    display: block;
    width: 100%;
    height: auto;
    border: 4px solid white;
}

.team-details {
    text-align: center;
    margin-top: 10%;
}

.creator-name {
    font-size: 17px;
    font-weight: 700;
    color: black;
    margin-top: 15%;
    /* margin-left:10%; */
}

.speciality {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}

.button img {
    margin-top: 7%;
    margin-left: 5%;
    height: 25px;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.button img:hover {
    opacity: 0.4;
}


/* TEAM ENDS */

.site-footer
{
    /* margin-top: 100%; */

background: rgba( 255, 255, 255, 0.20);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
backdrop-filter: blur( 4.5px);
-webkit-backdrop-filter: blur( 4.5px);
/* border: 2px solid rgba( 255, 255, 255, 0.18); */
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000;
  overflow: hidden;
  position: relative;
}
.row{
    display:flex;
    justify-content: space-between;
}
.footer-links a img{
    width:20px;
    margin: 0px 5px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:grey;
  text-decoration:none;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}




/* RESPONSIVE-SCREENS */

@media screen and (max-width: 420px) {
    .header-name a {
        /* background-color: #fff; */
        font-size: 60px;
        margin-left: 2vw;
    }
    .header-lottie {
        width: 25vh;
        height: auto;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 3vh;
    }
    hr {
        border-top: 1px solid #e4e4e4;
        border-bottom: none;
    }
    .lottie-hello {
        position: relative;
        height: auto;
        width: 200vw;
    }
    .welcome-line1 {
        margin-top: 5%;
        font-size: 30px;
        font-weight: 100;
        color: white;
        margin-right: 50%;
        padding-bottom: 3%;
        text-align: left;
    }
    .grid-container {
        display: block;
    }
    .topnav .button-logout {
        border: none;
        background-color: none;
        padding: none;
        float: none;
        margin-left: 10vw;
        text-align: center;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: absolute;
        /* height:100%;
        width:100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba( 255, 255, 255, 0.9)
    }
    .topnav {
        height: 100%;
        width: 100vw;
        margin: 0;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 2vh;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav.responsive .active {
        /* background-color: rgb(108, 169, 250); */
        color: black;
        font-weight: 700;
        border-bottom: none;
    }
    .grid-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .grid-item {
        margin: auto;
        margin-top: 2vh;
        padding-top: 7%;
        padding-bottom: 7%;
        height: 200px;
        width: 200px;
    }
    div .grid-item img {
        height: 100px;
    }
    .topnav {
        padding: 3%;
    }
    .slider {
        width: 70%;
        height: 170px;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;
        margin-top: 2%;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 4.5px);
        -webkit-backdrop-filter: blur( 4.5px);
        border: 2px solid rgba( 255, 255, 255, 0.3);
    }
    .aboutus {
        display: flex;
        flex-direction: column;
    }
    .aboutus-body {
        font-family: 'Lato';
        padding: 5% 5%;
        color: #fff;
        font-size: 16px;
    }
    .lottie-aboutus {
        width: 100%;
        margin-right: 100vw;
        ;
    }
    .team-name {
        margin-bottom: 4vh;
        margin-top: 6vh;
        position: relative;
    }
    .team-card {
        margin-top: 4vh;
    }
    .info ul {
        position: absolute;
        display: flex;
        font-size: 1rem;
        width: 100%;
        bottom: 1%;
        align-items: center;
        justify-content: center;
        left: 1%;
    }
    .info ul li {
        margin: 1%;
    }
    .amlot {
        height: 15vh;
        width: 15vh;
    }
    .ambContainer {
        width: 90%
    }
}

@media screen and (min-width: 420px) {
    .topnav .icon {
        display: none;
    }
}

@media (min-width: 420px) and (max-width: 1024px) {
    .ambContainer {
        width: 90%
    }
    .info ul {
        position: absolute;
        display: flex;
        font-size: 1rem;
        width: 100%;
        bottom: 1%;
        align-items: center;
        justify-content: center;
        left: 1%;
    }
    .info ul li {
        margin: 1%;
    }
    .amlot {
        height: 15vh;
        width: 15vh;
    }
    .aboutus {
        display: flex;
        flex-direction: column;
    }
    .lottie-aboutus {
        width: 100%;
        margin-right: 10vw;
        ;
    }
    .aboutus-body {
        font-family: 'Lato';
        padding: 5% 5%;
        color: #fff;
        font-size: 25px;
    }
    .team-name {
        margin-bottom: 2vh;
        margin-top: 6vh;
        position: relative;
    }
    .team-card {
        margin-top: 4vh;
    }
    .slider {
        width: 70%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;
        margin-top: 2%;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 4.5px);
        -webkit-backdrop-filter: blur( 4.5px);
        border: 2px solid rgba( 255, 255, 255, 0.3);
    }
    .welcome-line1,
    .welcome-line2 {
        text-align: left;
    }
    .welcome-line1 {
        margin-top: 10vh;
    }
    .welcome-line2 {
        margin-top: 3vh;
        ;
        font-size: 20px;
    }
    .lottie-hello {
        position: relative;
        /* height: 70vh; */
        width: 90vw;
    }
    .header-lottie {
        width: 20vh;
        height: auto;
    }
    .header {
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
    }
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: absolute;
        /* height:100%;
        width:100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba( 255, 255, 255, 0.9)
    }
    .topnav {
        height: 100%;
        width: 100vw;
        margin: 0;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 2vh;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav.responsive .active {
        /* background-color: rgb(108, 169, 250); */
        color: black;
        font-weight: 700;
        border-bottom: none;
    }
    .topnav .button-logout {
        border: none;
        background-color: none;
        padding: none;
        float: none;
        margin-left: 10vw;
        text-align: center;
    }
    .grid-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .grid-item {
        margin: auto;
        margin-top: 2vh;
        padding-top: 7%;
        padding-bottom: 7%;
        height: 200px;
        width: 200px;
    }
    div .grid-item img {
        height: 100px;
    }
    .topnav {
        padding: 3%;
    }
    .slider {
        width: 70%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;
        margin-top: 2%;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 4.5px);
        -webkit-backdrop-filter: blur( 4.5px);
        border: 2px solid rgba( 255, 255, 255, 0.3);
    }
    .aboutus {
        display: flex;
        flex-direction: column;
    }
    .aboutus-body {
        font-family: 'Lato';
        padding: 5% 5%;
        color: #fff;
        font-size: 20px;
    }
    .lottie-aboutus {
        width: 100%;
        margin-right: 100vw;
        ;
    }
    .team-name {
        margin-bottom: 4vh;
        margin-top: 6vh;
        position: relative;
    }
    .team-card {
        margin-top: 4vh;
    }
    .creator-name {
        font-size: 25px;
    }
    .speciality {
        font-size: 18px;
    }
    .button img {
        height: 35px;
    }
}


/* Hospital Cards */

.card-title {
    text-align: center;
    margin-top: 5px;
    color: white;
}

.card-img-top {
    width: 250px;
    height: 250px;
}

.navLogo {
    display: flex;
    align-items: center;
}

.lottie1 {
    position: relative;
    height: 100px;
    width: 120px;
}

.card {
    width: 550px;
    height: 300px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

.card h3 {
    text-align: center;
    color: #fff;
}

.card .additional {
    position: absolute;
    width: 250px;
    height: 100%;
    background: linear-gradient(#0B4F6C, #0e6185);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
    width: 250px;
    height: 100%;
    position: relative;
    float: left;
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
    top: 15%;
    color: #fffff2;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
}

.card .additional .user-card .points {
    top: 85%;
}

.card .additional .user-card svg {
    top: 50%;
}

.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 250px;
    height: 100%;
}

.card .additional .more-info h1 {
    color: #fffff2;
    margin-bottom: 0;
}

.card.green .additional .more-info h1 {
    color: #224C36;
}

.card .additional .coords {
    margin: 0 1rem;
    color: #fffff2;
    font-size: 1rem;
}

.card.green .additional .coords {
    color: #325C46;
}

.card .additional .coords span+span {
    float: right;
}

.card .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fffff2;
}

.card.green .additional .stats {
    color: #325C46;
}

.card .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card .additional .stats i {
    display: block;
}

.card .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card .general .more {
    padding: 15px;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

.lorem {
    font-size: 15px;
    margin-top: 50px;
}

.title {
    background-color: rgb(29, 230, 29);
    width: 100px;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
    margin-left: 30px;
}

.more-info {
    padding: 15px;
}

.text {
    padding: 15px 0;
}

.xyz {
    display: flex;
}

.jumbotron {
    color: white;
    width: 94%;
    background-color: #5c9cf0;
    border-radius: 20px;
    text-align: center;
    margin: 10px 50px;
    padding: 10px;
}

.Home,
.Home1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Home {
    height: 20vh;
}

.Home1 {
    min-height: 20vh;
}

.hosp-lottie {
    width: 30vh;
    height: 30vh;
    position: absolute;
    left: 20%;
}


/* End of Hospital Cards */


/* Doctor cards */
.doctor-lottie{
    width: 600px;
    height: 600px;
    position: fixed;
}
.doctor-lottie2{
    width: 400px;
    height: 400px;
    position: fixed;
}

.doccard {
    width: 540px;
    height: 250px;
    border: none;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1%;
    background-color: #fff;
}

.contentCard {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.docimage {
    width: 280px;
    height: 240px;
}

.docContent {
    background-color: #6ca9fa;
}

.articles {
    font-size: 12px;
    color: white
}

.number1 {
    color: white;
    font-size: 12px;
    font-weight: 500
}

.box1 {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* End of doc cards */


/* ambulane */

.ambContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ambContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 700px;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    margin: 2%;
    transition: all 0.5s ease-in-out;
}

.info h3 {
    position: relative;
    top: 8%;
    font-size: clamp(1rem, 10vw, 1.5rem);
    color: #fff;
}

.ambIcon {
    position: relative;
    left: auto;
}

.info ul {
    color: white;
    list-style: none;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    padding: 1%;
    /* left: 5%; */
}

.info ul li {
    font-size: 1rem;
}

.amlot {
    height: 30vh;
    width: 30vh;
}

.aboutus:before {
    content: "";
    position: absolute;
    width: 200vw;
    height: 200vw;
    /* background-color: #05e8ba; */
    background-image: linear-gradient(315deg, #05c6e8 0%, #087ee1 74%);
    left: 50%;
    transform: translate(-100%, -100%);
    border-radius: 40%;
    z-index: -1;
    animation: fill 20s ease-in-out infinite;
}

@keyframes fill {
    0% {
        top: 250px;
        transform: translateX(-50%) rotate(0deg);
    }
    50% {
        top: -50px;
        transform: translateX(-50%) rotate(360deg);
    }
    100% {
        top: 250px;
        transform: translateX(-50%) rotate(0deg);
    }
}

.go-top {
    right: 1%;
    top: 90%;
    position: fixed;
    z-index: 10;
    cursor: pointer;
}

.covid-heading {
    text-align: center;
    margin: 2rem 0;
    font-weight: 600;
    z-index: 999;
    font-size: 4rem;
}


/* Dashboard */
.dashboard1{
    display: flex;
    float: none;
}
.glassmorphism-bg3 {
    width: 800px;
    margin: 4% auto;
    position: relative;
    border-radius: 20px;
    padding-bottom: 3%;
    background: rgba( 255, 255, 255, 0.20);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4.5px);
    -webkit-backdrop-filter: blur( 4.5px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    overflow-wrap: hidden;
}
.dashDetails{
    color: white;
    margin-left: 10%;
    margin-top: 3%;
}
.dashImage{
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 3%;
}
.dashDetails h3{
    font-size: 20px;
}
.username1{
    font-weight: bold;
}
/* End of dashboard */

@media screen and (max-width: 360px) {
    .doccard {
        transform: scale(0.5);
    }
    .card {
        transform: scale(0.5);
    }
    .ambContainer {
        transform: scale(0.5);
    }
    .doctor-lottie {
        position: relative;
        transform: scale(0.5);
    }
    .doctor-lottie2 {
        position: relative;
    }
    .hosp-lottie {
        position: relative;
        left: 20%;
    }
    .glassmorphism-bg3 {
        transform: scale(0.4);
    }
}

@media (min-width:370px) and (max-width: 420px) {
    .doccard {
        transform: scale(0.7);
    }
    .card {
        transform: scale(0.6);
    }
    .ambContainer {
        transform: scale(0.6);
    }
    .doctor-lottie {
        position: relative;
        transform: scale(0.6);
    }
    .doctor-lottie2 {
        position: relative;
    }
    .hosp-lottie {
        position: relative;
        left: 11%;
    }
    .glassmorphism-bg3 {
        transform: scale(0.3);
    }
}

@media (min-width: 420px) and (max-width: 768px) {
    .doccard {
        transform: scale(0.9);
    }
    .card {
        transform: scale(0.9);
    }
    .glassmorphism-bg3 {
        transform: scale(0.9);
    }
}

@media (max-width: 700px) {
    .covid-heading {
    font-size: 2rem;
}
}

@media (min-width: 768px) and (max-width: 1366px) {
    .doctor-lottie {
        position: relative;
        left: 10%;
    }
    .doctor-lottie2 {
        position: relative;
        left: 10%;
    }
    .hosp-lottie {
        position: relative;
        left: 35%;
    }
}
