@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);
}

.jumbotron{
  color: white;
  width: 94%;
  background-color: #5c9cf0;
  border-radius: 20px;
  text-align: center;
  margin: 10px 50px;
  padding: 10px;
}
.Home {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
  min-height: 20vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 10px;
}

header li,
a {
  font-weight: 600;
  color: #edf0f1;
  text-decoration: none;
  padding: 20px;
}
.navLogo,
.nav_links {
  cursor: pointer;
  background-color: #ffffff;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.navLogo a {
  font-size: 2em;
  display: inline-block;
}
.nav_links li,
a {
  display: inline-block;
  font-size: 120%;
  /* //side bysode */
  padding: 0 10px;
}
.nav_links,li a {
  transition: all 0.3s ease 0s;
}
.navitem::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  transition: width 0.5s;
}
.navitem:hover::after {
  width: 100%;
  transition: width 0.5s;
}

.xyz{
  display: flex;
}
.zyx{
  border-radius: 10px;
  background-color: 	#0275d8;
  color: white;
  transition: 0.6s ease;
  font-weight: bold;
}
.zyx:hover{
  transform: scale(1.2);
}
.navbar{
  width: 100%;
  background-color: #0B4F6C;
  margin: 0 40px;
  padding: 10px;
  border-radius: 20px;
}
ul{
  left: 40%;
}
/* .card{
  border-radius: 20px;
  margin: 20px;
  background-color: #fffff2;
  padding: 10px;
  box-shadow: 10px 10px lightslategray;
  align-items: center;
  transition: 0.6s ease;
}

.card-body{
  text-align: center;
}
.card:hover{
  transform: translateY(-30px);
}
.cardButton{
  transition: 0.3s ease;
}
.cardButton:hover{
  transform: scale(1.2) ;
} */

.card-title{
  text-align: center;
  margin-top: 5px;
  color: white;
}
.card-img-top{
  width: 250px;
  height: 250px;
}
.navLogo{
  display: flex;
  align-items: center;
}
.lottie1{
  position: relative;
  height: 100px;
  width: 120px;
}
.card {
  width: 550px;
  height: 300px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h3 {
  text-align: center;
  color: #fff;
}

.card .additional {
  position: absolute;
  width: 250px;
  height: 100%;
  background: linear-gradient(#0B4F6C, #0e6185);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 250px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fffff2;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 250px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fffff2;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fffff2;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fffff2;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  padding: 15px;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.lorem{
  font-size: 15px;
  margin-top: 50px;
}

.title{
  background-color: rgb(29, 230, 29);
  width: 100px;
  color: white;
  font-weight: 900;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  margin-left: 30px;
}
.more-info{
  padding: 15px;
}
.text{
  padding: 15px 0;
}